/* Purple: #673AB7 */

html {
  margin: 0;
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}


/*
* Flex Grid 
*/
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 745px) {
  .row {
    flex-direction: column;
  }
}

.col {
  flex: 1;
}

.col-3 {
  flex: 3;
}

.col-offset-1 {
  margin-left: 25%;
}

@media screen and (max-width: 745px) { 
  .col-offset-1 {
    margin-left: 0;
  }
}

.container {
  flex-flow: row wrap;
  display: flex;
  margin: 10% 10% 0 10%;
  height: 100%;
}

/*
* Sections
*/
#content {
  align-items: center;
}

#copyright {
  font-size: 70%;
  color: #ddd;
  align-self: flex-end;
  text-align: right;
  padding-bottom: 10%;
}



/*
* Typography
*/
::selection {
    background: #673AB7;
    color: #fff;
}

h1 {
  text-transform: uppercase;
}

p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.5em;
}

strong {
  color: #000;
}

a {
  text-decoration: none;
  color: #333;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #673AB7;
}

u {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

/* 
* Social Icons
*/
i.social {
  font-size: 1.8em;
  margin-right: 16px;
}


/*  
* Animations 
*/
.delay-1 {
  animation-delay: .1s;
}

.delay-3 {
  animation-delay: .3s;
}

.delay-6{
  animation-delay: .6s;
}

.delay-7{
  animation-delay: .7s;
}

.delay-8{
  animation-delay: .8s;
}


/*
* Custom ST Icon
*/
i.logo {
  font-size: 5em;
  display: inline-block;
  padding-bottom: 5%;
  color: #333;
  transition: all .3s ease-in-out;
}

i.logo:hover {
  color: #673AB7;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7wehae');
  src:  url('fonts/icomoon.eot?7wehae#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7wehae') format('truetype'),
    url('fonts/icomoon.woff?7wehae') format('woff'),
    url('fonts/icomoon.svg?7wehae#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-st:before {
  content: "\e900";
}

